<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<form method = 'post' action = '/hello'>
    <input type = 'text' name = 'name' />
    <select name = 'lang'>
        <option value='fr'>French</option>
        <option value='sp'>Spanish</option>
        <option value='en'>English</option>
        <option value='zh'>Chinese</option>
        <option value='de'>German</option>
        </select>
    <input type = 'submit' value = 'Greet Me!' />
    </form>
</body>
</html>